.small-box, .small-box .inner > * {
    overflow: hidden;
}

.small-box .inner > * {
    text-overflow: ellipsis;
}

.small-box .inner {
    position: relative;
}

button:not(:last-child) { margin-right: 4px; }

.col-cta {
    text-align: center;
    width: 100px;
}